<template>
  <div class="app-container">
    <div style="margin-bottom: 20px;">
      <el-button type="primary" @click="addAgent" icon="el-icon-plus">
        创建新账号
      </el-button>
      <el-dialog title="账号" :visible.sync="dialogFormVisible">
        <el-form ref="dataForm" :model="form" :rules="addRules">
          <div>
            <el-form-item label="区号" prop="countryCode">
              <el-input v-model="form.countryCode" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="6" placeholder="86">
                <template slot="prepend">+</template>
              </el-input>
            </el-form-item>
            <el-form-item label="手机号" prop="phone">
              <el-input v-model="form.phone" autocomplete="off" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="11" placeholder="手机号" />
            </el-form-item>

            <el-form-item label="移动国家码" prop="mobileCountryCode">
              <el-input v-model="form.mobileCountryCode" autocomplete="off" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="6" placeholder="460" />
            </el-form-item>

            <el-form-item label="手机网络号" prop="mobileNetworkCode">
              <el-input v-model="form.mobileNetworkCode" onkeyup="value=value.replace(/[^\d]/g,'')" autocomplete="off" maxlength="6" placeholder="01" />
            </el-form-item>

            <el-form-item label="代理地址" prop="puppetAddress">
              <el-input v-model="form.puppetAddress" onkeyup="value=value.replace(/[^\d.:]/g,'')" autocomplete="off" maxlength="25" placeholder="xxx.xxx.xxx.xxx:xxxx" />
            </el-form-item>
          </div>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button v-if="dialogStatus=='create'" type="primary" @click="doAddAgent">创建</el-button>
          <el-button v-if="dialogStatus=='update'" type="primary" @click="doEditAgent">保存</el-button>
        </div>
      </el-dialog>

      <el-dialog title="请验证" :visible.sync="dialogLoginFormVisible">
        <el-form ref="connectForm" :model="form" :rules="connectRules" style="display: inline-flex;">
          <el-form-item label="手机号" prop="phone" label-width="80px">
            <el-input v-model="form.countryCode" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="4" placeholder="区号" style="width:120px" :disabled="true">
              <template slot="prepend">+</template>
            </el-input>
            <el-input v-model="form.phone" autocomplete="off" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="11" placeholder="手机号" style="width:160px" :disabled="true" />
          </el-form-item>
          <div style="display: contents;margin-left: 20px">
            <el-button type="primary" style="height:36px" :disabled="form.isDisabled" @click="sendCode">{{ form.buttonName }}</el-button>
            <el-form-item label="验证码" label-width="100px" prop="code">
              <el-input v-model="form.code" autocomplete="off" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="6" placeholder="验证码" style="width:100px" />
            </el-form-item>
          </div>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogLoginFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="doRegistry">连接</el-button>
        </div>
      </el-dialog>
    </div>

    <el-table v-loading="listLoading" :data="list" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="ID" width="60">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="账号名" width="240">
        <template slot-scope="{row}">
          <span>{{ row.account | nullBlankFilter }}</span>
        </template>
      </el-table-column>

      <el-table-column label="手机区号" width="60">
        <template slot-scope="{row}">
          <span>+ {{ row.countryCode }}</span>
        </template>
      </el-table-column>

      <el-table-column label="手机号" width="110">
        <template slot-scope="{row}">
          <span>{{ row.phone }}</span>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="状态" width="100">
        <template slot-scope="{row}">
          <el-tag :type="row.state | statusFilter">
            {{ row.state | stateFilter }}
          </el-tag>
        </template>
      </el-table-column>

      <el-table-column align="center" label="登陆令牌">
        <template slot-scope="{row}">
          <span>{{ row.credentials | nullBlankFilter }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="创建时间" width="140">
        <template slot-scope="{row}">
          <span>{{ row.createdAt | parseTime('{y}-{m}-{d} {h}:{i}') }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="上一次修改时间" width="140">
        <template slot-scope="{row}">
          <span>{{ row.updatedAt | parseTime('{y}-{m}-{d} {h}:{i}') }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="操作" width="200">
        <template slot-scope="{row}">
          <el-button v-if="row.state!==2" type="primary" size="small" icon="el-icon-share" @click="connect(row)">连接</el-button>
          <el-button v-if="row.state!==2" type="warning" size="small" icon="el-icon-edit" @click="editAgent(row)">编辑</el-button>
          <!--          <el-button v-if="row.state!==2" type="danger" size="small" icon="el-icon-delete" @click="disableAgent(row.id)">禁用</el-button>-->
        </template>
      </el-table-column>
    </el-table>

    <pagination
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="getList"
    />
  </div>
</template>

<script>
import { fetchAgentList, addAgent, editAgent, register, requestVerifyCode } from '@/api/agent'
import Pagination from '@/components/Pagination'

export default {
  name: 'InlineEditTable',
  components: { Pagination },
  filters: {
    stateFilter(state) {
      const stateMap = {
        0: '未登陆',
        1: '已登陆',
        2: '已被禁'
      }
      return stateMap[state]
    },
    statusFilter(state) {
      const statusMap = {
        0: 'warning',
        1: 'success',
        2: 'danger'
      }
      return statusMap[state]
    },
    nullBlankFilter(str) {
      return str == null || str === '' ? '-' : str
    }
  },
  data() {
    return {
      dialogFormVisible: false,
      dialogStatus: '',
      dialogLoginFormVisible: false,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 10
      },
      form: {
        mobileCountryCode: '',
        phone: '',
        code: '',
        countryCode: '',
        mobileNetworkCode: '',
        puppetAddress: '',
        isDisabled: false,
        time: 60,
        buttonName: '发送验证码'
      },
      addRules: {
        mobileCountryCode: [{ required: true, message: '移动国家号不能为空', trigger: 'blur' }],
        phone: [{ required: true, message: '手机号码不能为空', trigger: 'blur' }],
        countryCode: [{ required: true, message: '手机区号不能为空', trigger: 'blur' }],
        mobileNetworkCode: [{ required: true, message: '手机网络号不能为空', trigger: 'blur' }],
        puppetAddress: [{ required: true, message: '代理地址不能为空', trigger: 'blur' }]
      },
      connectRules: {
        mobileCountryCode: [{ required: true, message: '国家区号不能为空', trigger: 'blur' }],
        phone: [{ required: true, message: '手机号码不能为空', trigger: 'blur' }],
        code: [{ required: true, message: '验证码不能为空', trigger: 'blur' }]
      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    async getList() {
      this.listLoading = true
      const model = await fetchAgentList(this.listQuery)
      this.list = model.data
      this.total = model.total
      this.listLoading = false
    },
    doAddAgent() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          addAgent(this.form).then(res => {
            this.dialogFormVisible = false
            this.getList()
          })
        }
      })
    },
    editAgent(row) {
      this.dialogStatus = 'update'
      this.resetForm()
      this.dialogFormVisible = true
      this.form.mobileCountryCode = row.mobileCountryCode
      this.form.phone = row.phone
      this.form.id = row.id
      this.form.countryCode = row.countryCode
      this.form.mobileNetworkCode = row.mobileNetworkCode
      this.form.puppetAddress = row.puppetAddress
    },
    disableAgent(id) {
      const data = {
        id: id,
        state: 2
      }
      const result = editAgent(data)
      if (result) {
        this.getList()
      } else {
        this.$message({
          message: '禁用失败',
          type: 'error',
          showClose: true,
          duration: 1000
        })
      }
    },
    addAgent() {
      this.dialogStatus = 'create'
      this.resetForm()
      this.dialogFormVisible = true
    },
    doEditAgent() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          editAgent(this.form).then(res => {
            if (res) {
              this.dialogFormVisible = false
              this.getList()
            } else {
              this.$message({
                message: '修改失败',
                type: 'error',
                showClose: true,
                duration: 1000
              })
            }
          })
        }
      })
    },
    sendCode() {
      this.form.isDisabled = true
      const me = this
      requestVerifyCode(this.form).then(result => {
        if (result) {
          console.log(result)
          if (result.status === 'fail' && result.reason !== '') {
            me.$message({
              message: '发送失败原因：' + result.reason,
              type: 'warning',
              showClose: true,
              duration: 1000
            })
          } else if (result.status === 'sent') {
            me.$message({
              message: '发送成功',
              type: 'success',
              showClose: true,
              duration: 1000
            })
          }
          me.form.time = result.retry_after
          const interval = window.setInterval(function() {
            me.form.buttonName = me.form.time + 's后重发'
            --me.form.time
            if (me.form.time < 0) {
              me.form.buttonName = '发送验证码'
              me.form.time = 60
              me.form.isDisabled = false
              window.clearInterval(interval)
            }
          }, 1000)
        } else {
          me.form.isDisabled = false
          me.$message({
            message: '发送失败,请稍后重试',
            type: 'error',
            showClose: true,
            duration: 1000
          })
        }
      })
    },
    connect(row) {
      if (row.state === 1) {
        this.doConnect(row.id, row.account)
      } else {
        this.dialogLoginFormVisible = true
        this.resetConnectForm()
        this.form.mobileCountryCode = row.mobileCountryCode
        this.form.phone = row.phone
        this.form.id = row.id
        this.form.countryCode = row.countryCode
      }
    },
    doRegistry() {
      this.$refs['connectForm'].validate((valid) => {
        if (valid) {
          register(this.form).then(res => {
            if (res) {
              this.dialogLoginFormVisible = false
              this.$message({
                message: '连接成功',
                type: 'success',
                showClose: true,
                duration: 1000
              })
              this.getList()
              this.doConnect(result.id, result.account)
            }
          })
        }
      })
    },
    doConnect(id, account) {
      this.$router.push({ path: '/user?id=' + id + '&account=' + account })
    },
    resetForm() {
      this.form = {
        id: '',
        mobileCountryCode: '',
        phone: '',
        code: '',
        countryCode: '',
        mobileNetworkCode: '',
        puppetAddress: ''
      }
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    resetConnectForm() {
      this.form = {
        phone: '',
        code: '',
        countryCode: '',
        isDisabled: false,
        time: 60,
        buttonName: '发送验证码'
      }
      this.$nextTick(() => {
        this.$refs['connectForm'].clearValidate()
      })
    }
  }
}
</script>

<style scoped>
  .edit-input {
    padding-right: 100px;
  }
  .cancel-btn {
    position: absolute;
    right: 15px;
    top: 10px;
  }
</style>
