<style>
  .el-menu{
    border-right: none;
  }
</style>
<template>
  <div>
    <div style="margin: 10px;display: -webkit-box;line-height: 40px;height:30px">
      <el-button size="small" type="primary" icon="el-icon-refresh" @click="syncGroup">同步群列表</el-button>

      <el-button type="primary" size="small" icon="el-icon-plus" @click="dialogGroupFormVisible = true">拉群租</el-button>
      <el-dialog title="请选择成员" :visible.sync="dialogGroupFormVisible">
        <el-form ref="createGroupForm" :model="formGroup" :rules="groupRules">
          <el-form-item label="群组名" prop="subject">
            <el-input v-model="formGroup.subject" autocomplete="off" maxlength="50" placeholder="请输入" />
          </el-form-item>
          <el-form-item label="成员" prop="joinAccount">
            <el-select v-model="formGroup.joinAccount" multiple filterable placeholder="请选择" style="width: 100%;">
              <el-option
                v-for="item in contactData"
                :key="item.account"
                :label="item.name"
                :value="item.account"
              />
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogGroupFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="createGroup">确 定</el-button>
        </div>
      </el-dialog>

      <div style="display: -webkit-box">
        <el-upload
          :action="domainPath+'/agents/'+id+'/contacts/import'"
          :limit="1"
          :file-list="fileList"
          :on-success="handleSuccess"
          :on-error="handleError"
          :before-upload="beforeUpload"
          style="margin-left: 20px"
          :show-file-list="false"
        >
          <el-button size="small" type="primary" :disabled="isUploading" icon="el-icon-upload">{{ uploadName }}</el-button>
        </el-upload>
        <a href="https://migration-pengxiao-test.s3-us-west-2.amazonaws.com/wa-group/contact_import.xlsx" style="color:deepskyblue;margin-left: 10px" target="_blank">模板下载</a>
      </div>
    </div>
    <div style="margin: 20px;display: -webkit-box;height:510px">
      <el-tabs v-model="activeName" type="border-card" style="width: 19%" @tab-click="resetQueryForm">
        <el-tab-pane label="群组管理" name="first">
          <el-menu style="max-height: 450px;overflow: auto">
            <!--            <el-menu-item index="last" style="margin-bottom: 0px" @click="resetQueryForm">-->
            <!--              <i class="el-icon-setting" />-->
            <!--              <span slot="title">群设置</span>-->
            <!--            </el-menu-item>-->
            <el-menu-item v-for="item in groupData" :index="item.id.toString()" @click="getGroupChatData(item)">
              <i class="el-icon-menu" />
              <el-tooltip class="item" effect="dark" :content="getMemberNames(item)" placement="top">
                <span>{{ item.subject }} (查看群成员)</span>
              </el-tooltip>
            </el-menu-item>
          </el-menu>

        </el-tab-pane>
        <el-tab-pane label="联系人管理" name="second">
          <el-menu style="max-height: 450px;overflow: auto">
            <!--            <el-menu-item index="last" style="margin-bottom: 0px" @click="resetQueryForm">-->
            <!--              <i class="el-icon-setting" />-->
            <!--              <span slot="title">联系人设置</span>-->
            <!--            </el-menu-item>-->

            <el-menu-item v-for="item in contactData" :index="item.id.toString()" @click="getContactChatData(item.account,item.name)">
              <i class="el-icon-phone" />
              <span slot="title">{{ item.name }} ( {{ item.phone }} )</span>
            </el-menu-item>
          </el-menu>
        </el-tab-pane>
      </el-tabs>
      <div style="width: 78%;height:560px;margin-left: 20px">
        <WxChat
          v-if="chatQuery.receiveType!==null"
          ref="wxChat"
          :data="wxChatData"
          style="display: contents;"
          :show-shade="false"
          :contact-nickname="chatTo"
          :get-upper-data="getUpperData"
          :get-under-data="getUnderData"
          :owner-avatar-url="ownerAvatarUrl"
          :contact-avatar-url="contactAvatarUrl"
        />
        <div v-if="chatQuery.receiveType!==null" style="display: flex;margin-top:20px">
          <el-input
            v-model="chatQuery.content"
            type="text"
            placeholder="请输入内容"
            @keypress.enter.native="doSend"
          />
          <el-button type="primary" :disabled="isSending" @click="doSend">发送</el-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { fetchContactList, fetchGroupList, domainPath, syncGroup, createGroup } from '@/api/agent'
import { fetchMessageListByGroup } from '@/api/group'
import { fetchMessageListByAccount } from '@/api/contact'
import { sendMessage } from '@/api/message'
import WxChat from '@/components/WxChat/index'

export default {
  components: {
    WxChat
  },
  data() {
    return {
      activeName: 'first',
      dialogGroupFormVisible: false,
      isSending: false,
      isUploading: false,
      uploadName: '点击上传联系人',
      domainPath,
      chatQuery: {
        account: '',
        groupId: null,
        limit: 20,
        offset: 0,
        content: '',
        sendAgentId: this.$route.query.id,
        agentId: this.$route.query.id,
        receiveAccount: '',
        receiveGroupId: null,
        receiveType: null
      },
      chatTo: '',
      fileList: [],
      id: this.$route.query.id,
      account: this.$route.query.account,
      ownerAvatarUrl: 'http://res.wx.qq.com/a/wx_fed/wechat-main-page-oversea/res/static/img/1tBMRgVg_gHjp2b0iuXw0-yoGlOHhmM5uyWxcJ1qzYDIH_76av5xLm-GAZ1iLBATMvUs1hNCjr9CJMpp4AzXFr.png',
      contactAvatarUrl: 'http://res.wx.qq.com/a/wx_fed/wechat-main-page-oversea/res/static/img/1tBMRgVg_gHjp2b0iuXw0-yoGlOHhmM5uyWxcJ1qzYDIH_76av5xLm-GAZ1iLBATMvUs1hNCjr9CJMpp4AzXFr.png',
      upperTimes: 0,
      underTimes: 0,
      upperId: 0,
      underId: 6,
      formGroup: {
        joinAccount: [],
        agentId: this.$route.query.id,
        subject: ''
      },
      groupData: [],
      contactData: [],
      wxChatData: [],
      groupRules: {
        subject: [{ required: true, message: '群组名不能为空', trigger: 'blur' }],
        joinAccount: [{ required: true, message: '成员不能为空', trigger: 'blur' }]
      }
    }
  },
  created() {
    this.getGroupList()
    this.getContactList()
    this.syncGroup()
  },
  methods: {
    async getGroupList() {
      this.groupData = await fetchGroupList(this.id)
    },
    async getContactList() {
      this.contactData = await fetchContactList(this.id)
    },
    getContactChatData(account, chatTo) {
      this.resetQueryForm()
      this.chatTo = chatTo
      this.chatQuery.receiveAccount = account
      this.chatQuery.account = account
      this.chatQuery.receiveType = 1
      fetchMessageListByAccount(this.chatQuery).then(res => {
        this.wxChatData = res.data.reverse()
        this.$forceUpdate()
      })
    },
    getMemberNames(data) {
      var output = []
      for (var i = 0; i < data.groupMembers.length; ++i) {
        let memberName = data.groupMembers[i]['account'].replace('@s.whatsapp.net', '')
        if (data.groupMembers[i]['role'] && data.groupMembers[i]['role'] === 'superadmin') {
          memberName = memberName + '(admin)'
        }
        output.push(memberName)
      }
      return output.join(' , ')
    },
    getGroupChatData(item) {
      this.resetQueryForm()
      this.chatTo = item.subject
      this.chatQuery.receiveGroupId = item.id
      this.chatQuery.groupId = item.id
      this.chatQuery.receiveType = 2
      fetchMessageListByGroup(this.chatQuery).then(res => {
        this.wxChatData = res.data.reverse()
        this.$forceUpdate()
      })
    },
    resetQueryForm() {
      this.wxChatData = []
      this.chatTo = ''
      this.chatQuery.account = ''
      this.chatQuery.groupId = null
      this.chatQuery.offset = 0
      this.chatQuery.content = ''
      this.chatQuery.receiveAccount = ''
      this.chatQuery.receiveGroupId = null
      this.chatQuery.receiveType = null
    },
    resetGroupForm() {
      this.formGroup.joinAccount = []
      this.formGroup.subject = ''
    },
    // 向上滚动加载数据
    getUpperData() {
      this.chatQuery.offset = this.chatQuery.offset + this.chatQuery.limit
      const query = this.chatQuery
      if (this.chatQuery.groupId !== null) {
        return new Promise(function(resolve) {
          fetchMessageListByGroup(query).then(res => {
            return resolve(res.data.reverse())
          })
        })
      } else if (this.chatQuery.account !== '') {
        return new Promise(function(resolve) {
          fetchMessageListByAccount(query).then(res => {
            return resolve(res.data.reverse())
          })
        })
      }
    },
    getUnderData() {
      return new Promise(function(resolve) {
        return resolve([])
      })
    },
    doSend() {
      if (this.chatQuery.content.trim() === '' || this.isSending) {
        return
      }
      this.isSending = true
      sendMessage(this.chatQuery).then(res => {
        this.$message({
          type: 'success',
          message: '发送成功!'
        })
        this.chatQuery.content = ''
        this.wxChatData.push(res)
        this.isSending = false
      }).catch((e) => {
        this.$message({
          type: 'error',
          message: '发送失败!' + e
        })
        this.isSending = false
      })
    },
    syncGroup() {
      this.$message({
        type: 'warning',
        message: '正在同步群组数据...'
      })
      syncGroup(this.chatQuery.agentId).then(res => {
        if (res) {
          this.$message({
            type: 'success',
            message: '已同步群组!'
          })
          this.getGroupList()
        }
      }).catch((e) => {
        this.$message({
          type: 'error',
          message: '同步失败!' + e
        })
      })
    },
    createGroup() {
      this.$refs['createGroupForm'].validate((valid) => {
        if (valid) {
          createGroup(this.formGroup).then(res => {
            if (res) {
              this.$message({
                type: 'success',
                message: '创建成功!页面会在两秒内自动刷新'
              })
              this.resetGroupForm()
              setTimeout(() => {
                this.getGroupList()
              }, 2 * 1000)
            } else {
              this.$message({
                type: 'error',
                message: '创建失败!'
              })
            }
            this.dialogGroupFormVisible = false
          }).catch((e) => {
            this.$message({
              type: 'error',
              message: '创建失败!' + e
            })
          })
        }
      })
    },
    // 文件上传成功时的钩子
    handleSuccess(res, file, fileList) {
      if (res) {
        this.getContactList()
        this.$notify.success({
          title: '成功',
          message: `文件上传成功`
        })
        this.fileList = []
      } else {
        this.$notify.error({
          title: '错误',
          message: '文件上传失败',
          duration: 3000
        })
        this.fileList = []
      }
      this.isUploading = false
      this.uploadName = '点击上传联系人'
    },
    // 文件上传失败时的钩子
    handleError(err, file, fileList) {
      this.$notify.error({
        title: '错误',
        message: `文件上传失败`
      })
      this.isUploading = false
      this.uploadName = '重新上传'
    },
    beforeUpload() {
      this.isUploading = true
      this.uploadName = '上传中...'
    }
  }
}
</script>
